@import './vars.css';

html, body {
  background-color: var(--bg-outer);
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: var(--font-family-primary);
  
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /*scale: 1.215 1.35;*/
}

.MainContainer {
  width: var(--app-width);
  height: var(--app-height);
  box-shadow: 0 0 0 1px var(--border-primary), var(--shadow-2xl);
  -webkit-tap-highlight-color: transparent;
  position: relative;
  overflow: hidden;
}

.MainContainer-ColourBG {
  background: linear-gradient(180deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
}

.MainContainer-ImageBG {
  background: var(--bg-image);
  background-size: cover;
  background-position: center;
}