.Home-Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  container-type: size;
}

.Pages-Wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform var(--transition-slow);
}

.PageWrapper {
  min-width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  height: 100%;
}

.Page {
  font-size: var(--font-responsive-4xl);
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  font-family: var(--font-family-primary);
}
